@page
@model Taste.Pages.Customer.Cart.OrderConfirmationModel
@{
    ViewData["Title"] = "OrderConfirmation";
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center"></h1>
        <b>Sipariş Numaran : </b>@Model.orderId <br /><br />
        <img src="~/images/siparistamam.png" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        
    </div>
</div> 

